body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-container {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.profile-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-view {
  background-color: white;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-view-avatar {
  width: 300px;
  height: 300px;
}

.profile-view-interests {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.title-interests {
  font-weight: 600;
  font-size: 24px;
  background-color: darkgray;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.list-of-items {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Optional: Adds space between items */
  justify-content: center;
}

.list-of-items span {
  flex: 0 1 calc(50% - 10px); /* Each item takes 50% of the row minus the gap space */
  max-width: calc(45% - 10px); /* Ensures items don't exceed 20% width */
  box-sizing: border-box; /* Ensures padding/border is included in width */
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

.profile-view-description {
  width: 600px;
  height: 615px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  background-color: darkgray;
  margin: 0;
  padding: 10px;
}

.avatar-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
